In [10]:
#Q1:

import pandas as pd

data =[4,8,15,16,23,42]
 
ser = pd.Series(data)
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [16]:
##Q2:
import pandas as pd

list = ['r','i','s','h','a','b','h','s','i','n']
series = pd.Series(list)
print(series)
type(series)

0    r
1    i
2    s
3    h
4    a
5    b
6    h
7    s
8    i
9    n
dtype: object

pandas.core.series.Series

In [2]:
import pandas as pd
data = [10,20,30,40,50,60]
  
# Create the pandas DataFrame with column name is provided explicitly
df = pd.DataFrame(data, columns=['Numbers'])
  
# print dataframe.
df

   Numbers
0       10
1       20
2       30
3       40
4       50
5       60

In [7]:
##Q3:
import pandas as pd 

data = [['Alice',25,"Female"], ['bob',30, "Male"], ["Clarie", 27, "Female"]]
df = pd.DataFrame(data, columns = ['Name', "Age", "Gender"])

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     bob   30    Male
2  Clarie   27  Female

##Q4:
What is pandas series and a DataFrame in Python differentiate between them with an example?
Series in pandas contains a single list which can store heterogeneous type of data, because of this, series is also considered as a 1-dimensional data structure. On the other hand, DataFrame is a 2-dimensional data structure which contains multiple lists of heterogeneous type of data.

Series:

# Importing pandas package
import pandas as pd

# Create dictionary
d = {'one':[1,2,3,4,5,6]}

# Create series
ser = pd.Series(d)

# Display series
print("Created Series:\n",ser)


DataFrame:

# Importing pandas package
import pandas as pd

# Create dictionary
d = {
    'a':['This','It','It'],
    'b':['is','contain','is'],
    'c':['a','multiple','2-D'],
    'd':['DataFrame','rows and columns','Data structure']
}

# Create DataFrame
df = pd.DataFrame(d)

# Display DataFrame
print("Created DataFrame:\n",df)

##Q5:
Pandas Functions to get Deeper Insights into the Dataset
isnull() This function helps you to check if there in which row and which column your data has missing values. ...
fillna() This function is used to replace missing values or NaN in the df with user-defined values. ...
sort_values() ...
df.value_counts()

##Q6:

andas deals with the following three data structures −

Series
DataFrame
Panel
These data structures are built on top of Numpy array, which means they are fast.

Dimension & Description
The best way to think of these data structures is that the higher dimensional data structure is a container of its lower dimensional data structure. For example, DataFrame is a container of Series, Panel is a container of DataFrame.

Data Structure	Dimensions	Description
Series	1	1D labeled homogeneous array, sizeimmutable.
Data Frames	2	General 2D labeled, size-mutable tabular structure with potentially heterogeneously typed columns.
Panel	3	General 3D labeled, size-mutable array.
Building and handling two or more dimensional arrays is a tedious task, burden is placed on the user to consider the orientation of the data set when writing functions. But using Pandas data structures, the mental effort of the user is reduced.

For example, with tabular data (DataFrame) it is more semantically helpful to think of the index (the rows) and the columns rather than axis 0 and axis 1.

Mutability
All Pandas data structures are value mutable (can be changed) and except Series all are size mutable. Series is size immutable.

Note − DataFrame is widely used and one of the most important data structures. Panel is used much less.

Series
Series is a one-dimensional array like structure with homogeneous data. For example, the following series is a collection of integers 10, 23, 56, …

10	23	56	17	52	61	73	90	26	72
Key Points
Homogeneous data
Size Immutable
Values of Data Mutable
DataFrame
DataFrame is a two-dimensional array with heterogeneous data. For example,

Name	Age	Gender	Rating
Steve	32	Male	3.45
Lia	28	Female	4.6
Vin	45	Male	3.9
Katie	38	Female	2.78
The table represents the data of a sales team of an organization with their overall performance rating. The data is represented in rows and columns. Each column represents an attribute and each row represents a person.

Data Type of Columns
The data types of the four columns are as follows −

Column	Type
Name	String
Age	Integer
Gender	String
Rating	Float
Key Points
Heterogeneous data
Size Mutable
Data Mutable
Panel
Panel is a three-dimensional data structure with heterogeneous data. It is hard to represent the panel in graphical representation. But a panel can be illustrated as a container of DataFrame.

Key Points
Heterogeneous data
Size Mutable
Data Mutable

In [21]:
s1 = pd.Series([3,4], index=["a","b"])
s2 = pd.Series([5,6], index=["b","c"])
pd.concat([s1,s2], axis = 1)

     0    1
a  3.0  NaN
b  4.0  5.0
c  NaN  6.0